
.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.card-medicamentos {
    width: 100%;
    max-width: 900px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
}

.card-medicamentos h2 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

.table-medicamentos {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table-medicamentos th {
    font-weight: bold;
    text-transform: capitalize;
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

.table-medicamentos td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.table-medicamentos tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.table-medicamentos tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.form-add-medicamento {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.form-add-medicamento input {
    flex: 1 1 calc(20% - 10px); 
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-add {
    flex: 1 1 100%; 
    background-color: #007bff;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px 0;
    text-align: center;
}

.button-add:hover {
    background-color: #0056b3;
}

.table-medicamentos .btn-success {
    background-color: #28a745; 
    border-radius: 5px; 
    color: white; 
    transition: all 0.3s ease;
    margin: 5px; 
}

.table-medicamentos .btn-success:hover {
    background-color: #218838; 
    border-color: #1e7e34; 
}

.table-medicamentos .btn-danger {
    background-color: #dc3545; 
    border-color: #dc3545; 
    border-radius: 5px; 
    color: white; 
    transition: all 0.3s ease;
    margin: 5px; 
}

.table-medicamentos .btn-danger:hover {
    background-color: #c82333; 
    border-color: #bd2130; 
}



